* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

[class*=col-] {
	float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::before,
.row::after {
	content: '';
	display: block;
	clear: both;
}

body {
	background-color: #000000;
}

.row {
	position: relative;
	width: 100%;
}

.container {
    padding: 0;
    position: relative;
	margin: 0 auto;
	width: 80%;
}

h1 {
	font-size: 35px;
	text-transform: uppercase;
	padding-top: 50px;
}

h2 {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 50%;
	color: #AEAEAE;
}

.pagination {
	color: #B98B59;
	text-align: center;
	margin-top: 60px;

	.circle {
		height: 15px;
		width: 15px;
		background-color: transparent;
		border: 2px solid #B98B59;
		border-radius: 50%;
		display: inline-block;
		margin: 5px;

		&:hover {
			background-color: #B98B59;
		}
	}
}

// nav - menu //

nav {
	.logo {
		display: inline-block;
		height: 50px;
	}

	.menu {
		float: right;
		font-size: 16px;
		margin-top: 20px;

		ul li {
			list-style: none;
			padding: 10px;
			display: inline-block;
			height: 72px;

			&:hover {
				border-bottom: 5px solid #B78C59;
			}

			a {
				text-decoration: none;
				font-weight: bold;
				color: #ffffff;
				text-transform: uppercase;
			}
		}
	}
}

// header //

header {
	background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ),  url(/images/wood.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;

	.title1 {
		padding-top: 250px;
		color: white;
		text-transform: uppercase;
		font-size: 90px;
		text-align: center;
		font-weight: bold;
		text-shadow: 0 0 3px white;
	}

	.title2 {
		color: #B78B5C;
		text-transform: uppercase;
		font-size: 95px;
		text-align: center;
		font-weight: bold;
		text-shadow: 0 0 3px #B78B5C;
	}

	p {
		color: white;
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		padding: 30px;
		text-shadow: 0 0 3px white;
	}

	div {
		padding: 40px;
		button {
			background-color: #B98B59;
			box-shadow: 0 0 3px #B98B59;
			border: none;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			height: 40px;
			width: 200px;
			border-radius: 50px;
			margin: 0 auto;
			display: block;
		}
	}
}

// about us //
section.aboutUs {
	background-color: #F7F7F7;
	text-align: center;

	div {
		padding: 50px;

		p {
			text-align: left;
			padding-bottom: 20px;
		}

		button {
			background-color: #B98B59;
			box-shadow: 0 0 3px #B98B59;
			border: none;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			height: 40px;
			width: 200px;
			border-radius: 50px;
			float: left;
		}

		.video {
			img {
				height: 350px;
				box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
}

// services //

section.services {
	padding: 50px;
	text-align: center;
	color: white;

	h1 {
		font-size: 35px;
		line-height: 40px;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 18px;
		color: #AEAEAE;
		padding-bottom: 50px;
	}

	ul {
		list-style-type: none;
		display: flex;

		li {
			border-left: 2px solid #383838;
			float: none;
			padding: 10px;

			&:last-of-type {
				border-right: 2px solid #383838;
			}

			img {
				padding: 15px;
			}
		}

		h4 {
			font-size: 18px;
			text-transform: uppercase;
			padding: 10px;
		}

		p {
			font-weight: lighter;
			font-size: 12px;
			text-align: center;
			padding-top: 10px;
			color: #797979;
		}
	}
}

// project //

section.project {
	background-color: #F7F7F7;
	text-align: center;
	padding-bottom: 50px;

	.btn-group {
		display: block;
		margin: 50px auto;
		padding: 0 10px;
		border-radius: 30px;
		background-color: #EDEDED;
		border: 1px solid #CFCFCF;
		display: inline-flex;

		button {
			height: 60px;
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
			font-size: 14px;
			font-weight: lighter;
			color: black;
			cursor: pointer;
			box-shadow: none;
			background: transparent;
			border: none;
			border-right: 1px solid #CFCFCF;
			padding: 10px;

			&:first-of-type {
				margin-left: 10px;
			}

			&:last-of-type {
				border: none;
				margin-right: 10px;
			}

			&:hover {
				border-bottom: 5px solid #B78C59;
			}
		}
	}

	li {
		list-style-type: none;
		padding: 15px;

		.picture {
			position: relative;
			margin: 0 auto;
			height: 160px;
			width: 250px;

			img {
				width: 100%;
				height: 100%;
			}

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				transition: .5s ease;
				background-color: rgba(0, 0, 0, 0.7);
				display: none;

				.text {
					color: white;
					padding: 30px;
					h1 {
						font-size: 20px;
						padding: 10px;
					}

					p {
						font-size: 12px;
					}
				}
			}

			&:hover {
				.overlay {
					display: block;
				}
			}
		}
	}

	.more {
		background-color: #B98B59;
		border: none;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		height: 40px;
		width: 200px;
		border-radius: 50px;
		display: block;
		margin: 30px  auto;
	}
}


// team //

section.team {
	background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(/images/city.jpg);
	background-size: cover;
	text-align: center;
	padding-bottom: 50px;

	ul {
		list-style-type: none;
		margin: 20px auto;
		display: flex;

		li {
			padding: 20px;
			float: none;

			.photo {
				padding: 40px 10px;
				max-width: 350px;
				background-color: white;
				border-radius: 3px;
				margin: 0 auto;

				h3 {
					text-transform: uppercase;
					padding: 10px;
				}

				.icon-btn {
					height: 30px;
					width: 30px;
					border: none;
					background-color: #AEAEAE;
					color: white;
					border-radius: 50%;
					cursor: pointer;
					font-size: 20px;
					margin-top: 40px;

					&:hover {
						background-color: #B98B59;
					}
				}
			}
		}
	}

	h1 {
		color: white;
	}
}

// happy clients //

section.happyClients {
	background-color: #F7F7F7;
	text-align: center;

	.joe {
		padding:30px;
		height: 300px;
		width: 300px;
	}

	h3 {
		font-size: 30px;
		font-weight: bold;
	}

	img {
		padding: 20px;
	}

	.pagination {
		padding: 20px;
	}
}

// sponsors //

section.sponsors {
	background-color: white;
	border-top: 1px solid #797979;
	border-bottom: 1px solid #797979;

	& > div {
		text-align: center;

		img {
			margin: 50px;
		}
	}
}

// price //

section.price {
	text-align: center;
	background-color: #EDEDED;
	color: #373737;
	padding-bottom: 30px;

	ul {
		list-style-type: none;
		display: block;
		margin-top: 30px;

		li {
			padding: 20px;
			border-radius: 3px;

			& > div {
				background: white;
				padding: 20px;
				h3 {
					font-size: 14px;
					text-transform: uppercase;
				}

				h4 {
					font-size: 30px;
					font-weight: bold;
				}

				h5 {
					color: grey;
					font-size: 10px;
					text-transform: uppercase;
					padding-bottom: 20px;
				}

				p {
					font-size: 11px;
				}

				button {
					margin-top: 20px;
					border: none;
					border-radius: 30px;
					height: 50px;
					width: 170px;
					background-color: #373737;
					color: white;
					font-weight: bold;
					font-size: 14px;
					text-transform: uppercase;

					&:hover {
						background-color: #B98B59;
					}
				}
			}
		}
	}
}

// premium //
section.premium {
	background-color: white;
	text-align: center;
	padding-bottom: 50px;

	& > div:first-of-type {
		border-bottom: 1px solid #EDEDED;
	}

	img {
		height: 500px;
		width: 500px;
		padding: 10px;
	}

	button {
		background-color: #B98B59;
		border: none;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		height: 40px;
		width: 200px;
		border-radius: 50px;
		margin: 20px auto;
		display: block;
	}

	.feature {
		padding-top: 100px;

		div {
			display: table;
			text-align: justify;
			padding: 10px 20px;
		}

		i {
			color: #B98B59;
			font-size: 50px;
			float: left;
			margin-left: 100px;
		}
		h3 {
			text-align: left;
			text-transform: uppercase;
		}

		p {
			color: #AEAEAE;
			font-size: 15px;
			font-weight: lighter;
			padding: 5px;
		}
	}
}

// facts //

section.facts {
	color: white;
	text-align: center;

	& > div {
		padding: 50px;

		.numbers {
			padding: 20px;

			h2 {
				font-size: 55px;
				padding: 20px;
				color: #B98B59;
				font-weight: 800;
			}

			hr {
				width: 10%;
				border-color: #797979;
				background-color: #797979;
				margin: 0 auto;
				border-top: #797979;
				height: 5px;
			}

			h3 {
				text-transform: uppercase;
				padding: 10px;
			}

			p {
				color: #797979;
				font-size: 14px;
				text-align: justify;
				padding: 20px;
			}
		}
	}
}

// social info //
section.socialInfo {
	background-color: white;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #797979;
	ul {
		list-style-type: none;
		display: inline-flex;

		li {
			padding: 10px;

			.tell {
				font-size: 20px;
			}

			p {
				color: #AEAEAE;
				font-size: 14px;
				display: inline-block;
			}

			button {
				display: inline-block;
				height: 40px;
				width: 40px;
				border: 0 #ffffff;
				border-radius: 50%;
				margin: 5px;
				cursor: pointer;
				font-size: 20px;
				color: white;
			}

			.icon-btn.usb {
				background-color: white;
				color: #AEAEAE;
				font-size: 25px;
			}

			.icon-btn.twitter {
				background-color: #36C5F1;
			}
			.icon-btn.linkedin {
				background-color: #137CB3;
			}
			.icon-btn.facebook {
				background-color:  #336296;
			}
			.icon-btn.google-plus {
				background-color: #EA4237;
			}
			.icon-btn.pinterest {
				background-color: #B81C29;
			}
		}
	}
}

// 	contact //
section.contact {
	background-color: #F7F7F7;
	text-align: center;

	form {
		padding: 50px;
		max-width: 700px;

		.person, .subject, .message {
			padding: 20px;
		}

		input {
			border: none;
			border-bottom: 2px solid #AEAEAE;
			padding: 10px;
			background-color: transparent;
			font-size: 16px;
			text-transform: uppercase;
			width: 100%;
		}

		button {
			background-color: #B98B59;
			border: none;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			height: 40px;
			width: 200px;
			border-radius: 50px;
			margin: 50px;
		}
	}
}

// map //

section.map {
	background-image: url(/images/map.jpg);
	background-size: cover;
	padding: 50px 0;

	ul {
		background-color: white;
		list-style-type: none;
		padding: 50px;

		li {
			padding: 10px 0;
			img, p {
				display: inline;
				vertical-align: middle;
			}

			p {
				padding: 5px;
				color: #797979;
				font-size: 15px;
			}
		}
	}
}

// footer //
footer {
	color: white;
	padding: 50px !important;
	.icon-btn {
		height: 40px;
		width: 40px;
		border: none;
		background-color: #373737;
		color: white;
		border-radius: 50%;
		cursor: pointer;
		font-size: 20px;

		&:hover {
			background-color: #B98B59;
		}
	}

	h3 {
		text-transform: uppercase;
	}

	p {
		font-size: 12px;
		color: #797979;
		margin-right: 60px;
	}

	.subscribe {
		background-color: #373737;
		border-radius: 3px;

		input, button {
			display: block;
			border: none;
			margin: 40px auto;
		}

		input {
			text-align: center;
			border-bottom: 2px solid #797979;
			background-color: transparent;
			text-transform: uppercase;
		}

		button {
			background-color: #B98B59;
			border: none;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			height: 40px;
			width: 200px;
			border-radius: 50px;
		}
	}
}
